/* antd */
@import "~antd/dist/antd.css";

/* main page */

.list-books-title {
  padding: 10px 0;
  text-align: center;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
  white-space: pre-wrap;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
}

.book-shelf-changer-select{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
